.project{
    background-color: rgb(70, 130, 180);
    min-height: 100vh;
}

.main-image{

    margin-top: 5%;
    margin-bottom: 5%; 

    max-width: 600px;
    max-height: 600px;
    border: 5px solid;

}

.image-gallery{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0% 20%;
    gap: 40px;

}

.image-gallery img{

    flex: 1 1 calc(20% - 20px);
    font-size: 20px;
    max-width: 120px;
    max-height: 120px;
    /*image keeps its aspect ratio, but is resized to fit within the given dimension */
    object-fit: contain;
    border: 5px solid;
}

.image-gallery a{
    color: black;
}

.image-gallery a:hover{

    color: aqua;
    cursor: pointer;
}

p {
    text-align: left;
}

.github-links{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

button{
    background-color: rgb(201, 93, 99);
    border: 2px solid;
    padding: 15px 32px;

}

.back-page {
    margin-top: 3%;
}

@media only screen and (max-width: 768px) {

    .main-image{
        max-width: 400px;
        max-height: 400px;
    }      

    .github-links{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

}